.titulo-material{
    background: #07889b;
    text-align: center;
    width: 120%;
}

.card-img-top{
    width: 0.5rem;
    /*height: 4rem;*/
}
.container-card-tutorials{
    justify-content: center;

}
.card-flex{
    display: flex;
    flex-direction: wrap;
}
.card-flex > div{
    flex:50%;
    margin: 20px;
    padding: 40px;
}

@media (max-width: 800px) {
    .flex-flex {
        flex: 100%;
        flex-direction: column;
    }
}